<div class="container-fluid">
<div class="row mt-1">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">Leave List</div>
      <div class="card-body">
        <table class="mat-table mat-elevation-z9 table-striped w-100">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Name</th>
              <th>From Date</th>
              <th>To Date</th>
              <th>Reason</th>
              <th>status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of leaves,index as i">
              <td>{{i + 1}}</td>
              <td>{{getEmployeeName(leave.empID)}}</td>
              <td>{{leave.startDate | date}}</td>
              <td>{{leave.endDate | date}}</td>
              <td>{{leave.reason}}</td>
              <td>{{leave.status}}</td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="editLeave(leave.leaveID)"> <i class="bi-pencil"></i></button>
                <button class="btn btn-sm btn-danger" (click)="deleteLeave(leave.leaveID)"> <i class="bi-trash3-fill"></i> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
